html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media (min-width: 1400px) {
  main {
    transform: scale(1.1);
  }
}
@media (min-width: 1800px) {
  main {
    transform: scale(1.3);
  }
}
@media (min-width: 2300px) {
  main {
    transform: scale(1.5);
  }
}
@media (min-width: 2500px) {
  main {
    transform: scale(1.8);
  }
}
@media (min-width: 3000px) {
  main {
    transform: scale(2.5);
  }
}
@media (min-width: 4000px) {
  main {
    transform: scale(3);
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
#incvs {
  cursor: pointer;
  font-family: bookman old style, comic sans ms, TIMES NEW ROMAN;
}
#incvs:hover {
  color: grey;
}

#decvs {
  cursor: pointer;
  font-family: bookman old style, comic sans ms, TIMES NEW ROMAN;
}

.panel {
  position: relative;
  height: 202px;
  width: 500px;
  background-image: url("./img/panel_stby.bmp");
  margin: auto;
  margin-top: -40%;
  margin-left: 8%;
}

#miniscreen {
  position: absolute;
  left: 177px;
  top: 56px;
  /*background-color: #333333;*/
  background-color: #191919;
}
#importantButton {
  visibility: hidden;
}

.clicker {
  position: absolute;
}

.clicker:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
  background-image: none;
}

.clicker.round {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url("./img/round.bmp");
}

.clicker.round:hover:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.2);
}

.clicker.bround {
  top: 126px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

.clicker.bround.small {
  top: 135px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
}

.clicker.round.state1 {
  transform: rotate(-30deg);
}

.clicker.round.state2 {
  transform: none;
}

.clicker.round.state3 {
  transform: rotate(30deg);
}

.clicker.round.state1#angle {
  transform: rotate(-60deg);
}

.clicker.round.state2#angle {
  transform: rotate(-90deg);
}

.clicker.round.state3#angle {
  transform: rotate(-120deg);
}

.clicker.square {
  width: 43px;
  height: 24px;
}

#traffic {
  left: 52px;
  top: 49px;
}

#range {
  left: 120px;
  top: 47px;
}

#angle {
  left: 85px;
  top: 151px;
}

#source {
  left: 405px;
  top: 148px;
}

#mode {
  left: 397px;
  top: 39px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#test {
  width: 26px;
  height: 26px;
  left: 408px;
  top: 51px;
  border-radius: 13px;
}

#lbround {
  left: 152px;
}

#lsround {
  left: 161px;
}

#rbround {
  left: 297px;
}

#rsround {
  left: 306px;
}

#switch {
  left: 235px;
  top: 133px;
}

#ent {
  left: 235px;
  top: 161px;
}

.bulb {
  position: absolute;
}

#atc {
  left: 184px;
  top: 11px;
  width: 23px;
  height: 13px;
  background-image: url("./img/atcblack.bmp");
}

#fid {
  left: 230px;
  top: 11px;
  width: 23px;
  height: 13px;
  background-image: url("./img/fidblack.bmp");
}

#xpndr {
  left: 276px;
  top: 11px;
  width: 55px;
  height: 13px;
  background-image: url("./img/xpndrfail.bmp");
}

.eman {
  width: 70px;
  background-color: #cccccc;
  text-align: center;
  margin-top: -31%;
}

#modulation {
  /* background-color: #ffffff; */
  background-color: #00508a;
  margin-top: -14%;
}

.hidden {
  display: none;
}
#screen {
  margin-top: -55%;
  width: 27%;
}
