@import url("./styles/fonts.css");

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
  max-width: 1737px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
#incvs {
  cursor: pointer;
  font-family: "Book_Man_Oldstyle";
}
#incvs:hover {
  color: grey;
}

#decvs {
  cursor: pointer;
  font-family: "Book_Man_Oldstyle";
  border-radius: 0 0 0 25px;
}

#screen {
  border-radius: 25px;
}

.panel {
  position: relative;
  height: 500px;
  width: 1237px;
  min-width: 1237px;
  background-image: url("./img/panel_tara.bmp");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-left: 0;
  border-radius: 25px;
}

#miniscreen {
  position: absolute;
  left: 438px;
  top: 138px;
  /*background-color: #333333;*/
  background-color: #191919;
}
#importantButton {
  visibility: hidden;
}

.clicker {
  position: absolute;
}

.clicker:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.2);
  background-image: none;
}

.clicker.round {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("./img/round.bmp");
  background-repeat: no-repeat;
  background-size: contain;
}

.clicker.round:hover {
  box-shadow: inset 5rem 5rem rgba(255, 0, 0, 0.2);
}

/* .clicker.round:hover:after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
} */

.clicker.bround {
  top: 311px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.clicker.bround.small {
  top: 339px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.clicker.round.state1 {
  transform: rotate(-30deg);
}

.clicker.round.state2 {
  transform: none;
}

.clicker.round.state3 {
  transform: rotate(30deg);
}

.clicker.round.state1#angle {
  transform: rotate(-60deg);
}

.clicker.round.state2#angle {
  transform: rotate(-90deg);
}

.clicker.round.state3#angle {
  transform: rotate(-120deg);
}

.clicker.square {
  width: 108px;
  height: 60px;
}

#traffic {
  left: 130px;
  top: 120px;
}

#range {
  left: 295px;
  top: 115px;
}

#angle {
  left: 210px;
  top: 368px;
}

#source {
  left: 1002px;
  top: 365px;
}

#mode {
  left: 982px;
  top: 97px;
  width: 122px;
  height: 122px;
  border-radius: 50%;
}

#test {
  width: 65px;
  height: 65px;
  left: 1011px;
  top: 125px;
  border-radius: 50%;
}

#lbround {
  left: 377px;
}

#lsround {
  left: 405px;
}

#rbround {
  left: 735px;
}

#rsround {
  left: 764px;
}

#switch {
  left: 580px;
  top: 330px;
}

#ent {
  left: 580px;
  top: 398px;
}

.bulb {
  position: absolute;
}

#atc {
  left: 184px;
  top: 11px;
  width: 23px;
  height: 13px;
  background-image: url("./img/atcblack.bmp");
}

#fid {
  left: 230px;
  top: 11px;
  width: 23px;
  height: 13px;
  background-image: url("./img/fidblack.bmp");
}

#xpndr {
  left: 303.5px;
  top: 11px;
  width: 55px;
  height: 13px;
  background-image: url("./img/xpndrfail.bmp");
}

.eman {
  width: 70px;
  background-color: #cccccccc;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 0 25px;
}

#modulation {
  background-color: #00508a;
  display: block;
  border-radius: 25px;
  border: 3px solid #68727e;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.content {
  max-width: 1737px;
  margin: 0 auto;
}

.plane-show {
  max-width: 630px;
  margin: 150px auto;
  position: relative;
}

.plane {
  width: 100%;
}

#up {
  position: absolute;
  left: 260px;
  width: 20px;
  top: 18px;
  cursor: pointer;
}

#up2 {
  position: absolute;
  left: 348px;
  width: 20px;
  top: 17px;
  cursor: pointer;
}

#down {
  position: absolute;
  left: 348px;
  width: 20px;
  top: 202px;
  cursor: pointer;
}
#down2 {
  position: absolute;
  left: 260px;
  width: 20px;
  top: 200px;
  cursor: pointer;
}
#light {
  position: absolute;
  left: 280px;
  width: 14px;
  top: 175px;
  cursor: pointer;
}

#dn1 {
  position: absolute;
  width: 20px;
  top: -150px;
  left: 260px;
  opacity: 0.3;
  transform: rotate(0deg);
  z-index: -20;
  visibility: hidden;
}
#dn2 {
  position: absolute;
  width: 20px;
  top: 40px;
  left: 260px;
  opacity: 0.3;
  transform: rotate(0deg);
  z-index: -20;
  visibility: hidden;
}
#dn3 {
  position: absolute;
  width: 630px;
  top: 0px;
  left: 35px;
  opacity: 0.3;
  z-index: -20;
  visibility: hidden;
}
#dn4 {
  position: absolute;
  width: 630px;
  top: -50px;
  left: 45px;
  opacity: 0.3;
  z-index: -20;
  visibility: hidden;
}

.text-cards {
  display: flex;
  max-width: 1737px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
}

.text {
  color: white;
  text-align: justify;
  font-size: 22px;
  width: 45%;
  border: 2px solid blue;
  padding: 18px;
  text-align: center;
}

@media (min-width: 1400px) {
}
@media (min-width: 1800px) {
}
@media (min-width: 2300px) {
}
@media (min-width: 2500px) {
}
@media (min-width: 3000px) {
}
@media (min-width: 4000px) {
}
