body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1737px;
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-section #tcas {
  color: #fff;
  font-size: 75px;
}

.logo-section img {
  width: 85px;
  margin-left: 15px;
  margin-right: 14px;
}

.menu-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.menu-section a {
  margin-left: 15px;
}

.sky {
  position: relative;
}

.mrow-a {
  position: absolute;
  top: 3px;
  left: 3px;
  padding: 5px;
  background: #02162bcc;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  border-radius: 22px 0 0 0;
}
